<div id="time-display">
  <div class="row" id="week-date">
    <div class="col-sm-12" id="week"><%#= @time.strftime("%A") %></div>
    <div class="col-sm-12" id="date"><%#= @time.strftime("%d/%m/%Y") %></div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="hour"><%#= @time.strftime("%r") %></div>
  </div>
</div>

