<div class="card" id="draw-display">
  <div class="row">
    <div class="col-sm-12">
      <%= render partial: "date" %>
    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-10 col-sm-offset-1">
      <div class="canvas">

        <div class="waterTank-canvas">
          <div class="glass">
            <div class="water"></div>
          </div>
          <button class="btn btn-primary" type="button" name="button" onclick="tankInfo(this)">Voltar</button>
        </div>

        <div class="building-canvas">

          <div class="building-top">
            <% @top_tanks.each do |l| %>
              <div class="water-tank" id="tank-<%= l.id %>" onclick="tankInfo(this)"></div>
            <% end %>
          </div>
          
          <div class="water-tank-info"></div>
        
          <div class="building-bottom">
            <% @bottom_tanks.each do |l| %>
              <div class="water-tank" id="tank-<%= l.id %>" onclick="tankInfo(this)"></div>
            <% end %>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
