/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
	font-family: Street-Plain;
	src: url(../fonts/Street-Plain.ttf);
}

body {
	text-align: center;
	/*font-family: "Street-Plain";*/
	background-color: 	#00223c;
}


label {
	text-align: center;
	font-family: "Street-Plain";
	color: #fff;
	font-size: 16px;
}


.navbar-default {
	background-color: #00122c;
  border-color: #00223c;
}

.navbar-default .navbar-nav > li > a,,
.navbar-default .navbar-nav > li > a:focus {
  color: #adf;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
	color: #adf;
  background-color: #00324c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #adf;
  background-color: #00223c;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #337ab7;
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border: 1px solid #adf;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00324c;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #adf;
  background-color: #adf;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00324c;
}

.dropdown-menu {
  border: 1px solid #1555a0;
}

.dropdown-menu > li > a {
  color: #337ab7;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #438ac7;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #337ab7;
  background-color: #fff;
}